{% embed "@organisms/section/section.twig" with { config: '33x66', columns: 2 } %}
  {% block column_1 %}
    <div class="text-base mb-8 p-2 font-bold">BASICS</div>
    {{ menu_1 }}
    <div class="text-base mb-8 p-2 font-bold">GUIDES</div>
    {{ menu_2 }}
    <div class="text-base mb-8 p-2 font-bold">CONFIGURATIONS</div>
    {{ menu_3 }}
    <div class="text-base mb-8 p-2 font-bold">COMPONENTS</div>
    {{ menu_4 }}
    <div class="text-base mb-8 p-2 font-bold">ASSETS</div>
    {{ menu_5 }}
    <div class="text-base mb-8 p-2 font-bold">DRUPAL</div>
    {{ menu_6 }}
    <div class="text-base mb-8 p-2 font-bold">DOCUMENTATION</div>
    {{ menu_7 }}
    <div class="text-base mb-8 p-2 font-bold">TESTING</div>
    {{ menu_8 }}
  {% endblock %}
  {% block column_2 %}
    {{ text }}
  {% endblock %}
{% endembed %}
